<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e5a8cfb859.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Rate My Vibes</title>
</head>
<body>
    <h1>Current Songs</h1>
    <ul class="songs">
        <% for(let i = 0; i < info.length; i++) {%>
            <li class="song">
                <span><%=info[i].title %></span>
                <span><%=info[i].artist %></span>
                <span><%=info[i].likes %></span>
                <i class="fa-solid fa-thumbs-up"></i>
                <i class="fa-solid fa-trash"></i>
            </li>
        <% } %>
    </ul>

    <h2>Add A Song:</h2>
    <form action="/addSong" method="POST">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Artist" name="artist">
        <input type="text" placeholder="video ID" name="id">
        <input type="submit">
    </form>
    <iframe width="440" height="372" src="https://www.youtube.com/embed/RXu62hENi1Y/?controls=1"></iframe>
    <h3></h3>
    <script src='js/main.js'></script>
</body>
</html>